{{extend 'layout.html'}}
{{block header}}
<div class="jumbotron jumbotron-fluid" style="background-color: #3299CC; height:10px; color:white; padding:10px;word-wrap:break-word;">
</div>
{{end}}

<h1>Do sada evidentirane jednadzbe</h1>
<div class="Pregled" style="background-color: #d7e2ff">
    

<table class="table" style="border-style: solid;">
    

{{for row in rows:}}
    {{komentari=db(db.komentari.FormulaID==row.id).count()}}
<tr style="border-style: dashed;border-width: 2px;border-color: #0046ff; margin: 10px 10px 10px 10px;">
    <td ><a href="{{=URL('displayeq',args=row.id)}}">{{=row.formula}}</a></td>
    <td>formulu je {{=row.kreiran}}  upisao:  {{=row.vlasnik}} i ima {{=komentari}} komentara</td>
    
</tr>
{{pass}}
    
    </table>
</div>
