{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">WebProgramiranje 2018 -Numerička integracija</h1>
  </div>
</div>
{{end}}
<div class="container">
    <h3>
        Zadatak
    </h3><br>

    
   Numerička integracija diferencijalnih jednadžbi s mogućnošću da korisnik sam unosi diferencijalnu jednadžbu koja se sprema u bazu za tog korisnika te pregled svih unesenih jednadžbi s mogućnošću komentiranja istih (anonimni komentari i korisnički) te prikaz rezultata numeričkog rješenja na grafu.
Administrator može brisati i uređivati dodatno svaku spremljenu jednadžbu. 
<br><br>
    
    Korisnici <br><br><br>
    Administrator:<br>
    e-mail:admin@admin.hr<br>
    password:admin
          <br><br>
    Korisnik<br>
        email:user@user.hr<br>
        password user<br>
    
    
    <br><br>
  
    
</div>
